body{
background: #d3e2e7!important;
}
.page-item.active .page-link{
    background-color: #121212!important;
    border-color: #121212!important;
}

.pro-sidebar-footer{
    background-color: #ddebf0!important;
}

.NavManual{
    background-color: #616364!important;
    color:#121212
}
.footermanual{
    position: relative;
    left: 0;
    bottom: 0;
 
}